{% extends "base.html" %}

{% block content %}

<a href="/" class="floating-back">
    ← Back
</a>

<div class="quiz-card">

    <h2>{{ career }}</h2>

    <p>
        Question {{ index + 1 }} of {{ total }}
    </p>

    {% if scenario %}

    <div class="scenario-box">

        <h3>🎲 Today's Scenario</h3>

        <p>{{ scenario }}</p>

    </div>

    {% endif %}

    {% if story %}

    <div class="story-box">
        {{ story }}
    </div>

    {% endif %}

    <div class="question">
        {{ q.q }}
    </div>

    <form method="POST">

        {% for option, score in q.options %}

        <button
            type="submit"
            name="score"
            value="{{ score }}"
            class="option-btn">
            {{ option }}
        </button>

        {% endfor %}

    </form>

</div>

{% endblock %}