<!DOCTYPE html>
<html>
<head>
    <title>Career Quest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="quiz-card">

    <h3>{{ career }}</h3>

    <p>
        Question {{ index + 1 }} of {{ total }}
    </p>

    <br>

    <div class="scenario-box">

    <h3>🎲 Today's Scenario</h3>

    <p>{{ scenario }}</p>

</div>

    <div class="story-box">
        {{ story }}
    </div>

    <div class="question">
        {{ q.q }}
    </div>

    <form method="POST">

        {% for option, score in q.options %}

        <button
            class="option-btn"
            type="submit"
            name="score"
            value="{{ score }}">
            {{ option }}
        </button>

        {% endfor %}

    </form>

    <br>

    <a href="/" class="btn">
        ← Back Home
    </a>

</div>

</body>
</html>